// VAR
// *************************//
// TODO. Ryd op efter dig selv, din mor arbejder her ikke ;)
// Koden skal breakes op i flere less filer.

.list-group-item{
    border:none;
}
#resultContent .page-header{
    margin:10px 0;
}
.navbar-kb{
    margin: 0px !important;
    padding:0px;
}

// Brand colors
// -------------------------
@brand-primary:             #38555f;
@neutral:                   #FFFFFF;
@dark:                      #000000;
@yellow:                    #efa42e;


// Specific for the mockup favorites stars /HAFE
.yellow{
    color: @yellow;
}

// STYLE
// *************************

body{
    background: @gray-lighter;
}

// Header
// -------------------------

#header{
    margin-bottom:          0;

}




// Content
// ------------------------------------

#homePage #content{
    padding:                0px;
    img{
        width:100%;
    }
    .col-md-9, col-lg-9, .col-lg-12{
        margin-bottom: 20px
    }
}
