// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel img {
    opacity: 0.7;
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 10%;
    bottom: none;
    z-index: 10;
    padding: 0px;
    color: @carousel-caption-color;
    text-align: left;
    text-shadow: @carousel-text-shadow;
    font-size:16px;
    & .btn {
        text-shadow: none; // No shadow for button elements in carousel-caption
    }
}
.carousel-caption {

/* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm) {
        font-size:30px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg) {
        font-size:35px;
    }
}


