
.carousel-caption{
    top:0;
    left:0;
    bottom:0;
    text-align: left;
    padding:20px 15% 20px 15%;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    z-index: 0;
    font-family:@font-family-serif ;
}
.carousel-indicators{
    bottom:0px;
}

.carousel-control {
    .opacity(1.0);
}



@media (min-width: @screen-xs) {
    .carousel-caption{
        font-size: 18px;
        padding-top:5%;
    }
}

@media (min-width: @screen-sm) {
    .carousel-caption{
        font-size: 22px;
    }
}

@media (min-width: @screen-md) {


    .carousel-caption{
        font-size: 24px;
    }
}


@media (min-width: @screen-lg) {
    .carousel-inner{
        max-height: 330px;
    }
    .carousel-caption{
        font-size: 26px;

    }


}