//KB
//Changes to tiles/facetTile

/* RESPONSIVE TOGGLE */
.EXLFacetTile .EXLAdditionalFacet{
    .collapse;
}

.facet-collapse {
@media (max-width: @screen-sm-max ) {
    .collapse;
    }

@media (min-width: @screen-sm-max) {
    display:block;
    }
  }

#refine {
@media (min-width: @screen-sm-max) {
    .collapse;
    }
@media (max-width: @screen-sm-max) {
    display:block;
    margin-bottom:@padding-base-vertical;
    }
  }

html[lang="da_DK"] #refine:after{
    content:" Facetter";
}
html[lang="en_US"] #refine:after{
    content:" Facets";
}


/* SHOW MORE lightbox*/
#exliGreyOverlay {
    .modal-backdrop;
    .fade;
    .in;
    z-index: 1001;
     iframe{
         border: none;
     }
}
#exliWhiteContent{
    .modal;
}
#exliWhiteContent > div{
    .modal-dialog;
}
@media screen and (min-width: 768px) {
    #exliWhiteContent > div{
        right: auto;
        left: 50%;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
#exlidFacetsLightboxContainer{
    .modal-content;
}
.EXLFacetsLightboxHeader{
    .modal-header;
    .clearfix;
    h1{
        .h4;
        .modal-title;
        .pull-left;
    }
    .EXLFacetsLightboxHeaderButtons{
        .close;
        ul{
            .list-unstyled;
            a{
                text-decoration:none;
                }
            li a span:first-child{
                display:none;
                }
            a span:after{
                content:"×";
                }
        }
    }
}
#exlidFacetsLightboxListWrapper{
    .modal-body;
    .clearfix;
}
.EXLFacetsLightboxTabsRibbon{
    .clearfix;
    span{
        .col-xs-2;
        font-weight: bold;
        padding-left:0px;
    }
    span:last-child{
        .col-xs-8;
    }
}
.EXLFacetsLightboxListRow {
    .clearfix;
    padding:5px 0;
    div{
        .col-xs-2;
    }
    .legend{
        .col-xs-8;
        span{
            margin-right:3px ;
            .badge;
            .pull-left;
        }
    }
    label{
        .collapse;
    }
}
.EXLFacetsLightboxListRow:nth-child(odd) {
    background: @gray-lighter;
}
.EXLFacetsLightboxListRow:last-child {
    border-bottom: 1px solid @modal-footer-border-color;
    margin-bottom:@modal-inner-padding;
}
.EXLFacetsLightboxFieldRibbonFormSubmitSelected, .EXLFacetsLightboxFieldRibbonFormResetSearch{
    .pull-right;
}
.EXLReset, .EXLSubmit{
   .btn;
   .btn-default;
}
.EXLSubmit{
    .btn-primary;
    margin-left:5px;
}

.EXLRefinementsList .EXLExcludedElement{
   .btn-danger;
    text-decoration: line-through;
}


/*Date Facet Slider */
.EXLDateFacetSlider {font-weight: bold; margin: 0px 0px 5px 8px; padding: 0px 7px 0px 7px; background-color: #F8F8F8; border-top: solid 1px #E4E4E4; border-bottom: solid 1px #E4E4E4; line-height: 150%;
        font-size: 80%; font-family: Arial;}
.EXLSliderRefine {display: inline;}
.EXLSliderRefine a ,.EXLSliderRefine a:hover{text-decoration: none; height:26px; width:96%; background-color: #0075B0; margin:0; cursor: pointer;
        padding: 0.1em 0.6em 0.2em; color: #ffffff; font-size: 80%; font-family: Arial; font-weight: normal; border: 1px solid #7f9db9;}
.EXLSliderContainer { width:90%; }
.EXLDateRangeText {text-align: left;    margin-bottom: 25px;}
.EXLDateRangeLine {margin-top:1em; margin-bottom:2em; padding-left:0.5em}
.EXLToolTipStart { font-size: 80%; line-height: 120%; text-decoration: none; padding-top :1em; margin:-30px -10px;}
.EXLToolTipEnd { font-size: 80%; line-height: 120%; text-decoration: none; padding-top :2em; margin: -14px -10px;}
.EXLSliderFromText {color: #8C8D8C; font-size:80%;}
.EXLSliderToText {color: #8C8D8C; font-size:80%;}
#slider-range {margin: 15px 20px 5px 12px;}
.ui-slider-horizontal {height: .4em;}
.ui-slider-horizontal .ui-slider-handle {top: -.25em;margin-left: -.4em;}
.ui-slider .ui-slider-handle {width: 0.8em; height: 0.8em;}
.datebox {border: solid 1px #0075B0;padding: 2px 3px 1px 3px;font-size: 80%;}
.ui-widget-header { border: 1px solid #aaaaaa;  background: #cccccc 50% 50% repeat-x;   color: #aaaaaa; font-weight: bold;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color: #0075B0;text-decoration: none; outline:none;}

/*Date Facet*/
.EXLSliderFromText, .EXLSliderToText{
    white-space: nowrap;
}
