
.MyAccount .EXLSkipToContent, .EXLMyAccountTabsRibbon{
   .hide;
}

table.EXLMyAccountTable{
    .table;
    .table-striped;
    .table-hover;
    width:100%;
    td{
      display: table-cell!important;
    }
}

.EXLLoansRenewButton, #renew_selecte_loans_button {
    .btn;
    .btn-primary;
    b{
        font-weight: normal;
    }
}

#exlIdssoLogin{
    position:absolute;
    left:-9999px;
}

/*LIGHTBOX GENERAL Remember to move t lightebox less */
@media (min-width: @screen-sm-min){
    #exliWhiteContent>div {
        right: auto;
        left: auto;
        width: 600px;
        padding: 30px;
        margin: 0px auto;
        outline: 0;
    }
}
#exliWhiteContent {
    z-index:1002;
    display:block;
}

.exlidFacetsLightboxContainer {
    outline: 0!important;
}



/*  basket.do (Favoritter)
***************************************************************/

.basket .EXLEshelfTitle, #itemsDiv, .basket .draggable, .basket .itemsList_left label{
    .hide;
}
.basket{
        .folder_details, .folders_new{
            .pull-left;
        }
        .folders_new{
            .noteBubble{
                .collapse;
            }
            vertical-align:top;
            :first-child{
                padding:0px;
                margin:0px;
                .list-inline;
                ol{
                    .list-inline;
                }
            }
            .folderActions ul{
                li{
                    padding:0;
                }
                a{
                    .btn;
                    .btn-primary;
                }
            }
        }

        .itemsListTH, .itemsListTable{
            .table;
            .table-striped;
            .table-hover;
                .itemsList_left{
                    width:5%;
                }
                .type{
                    width:10%;
                }
                .author{
                    width:30%;
                }
                .title{
                    width:40%;
                }
                .added{
                    width:10%;
                }
                .note{
                    width:5%;
                }

        }

        iframe{
            width: 100%;
        }
        .noteBubble{
            visibility: hidden;
        }
        .foldersOverflow ul{
            .list-unstyled;
            li:nth-child(even){
               background: #f5f5f5;
            }
        }

        .EXLEShelfFolderContentsTable{
            td[class*="col-"]{
               float:left !important;
            }
            h5{
                :before{
                    content:"";
                    .glyphicon;
                    .glyphicon-star;
                }
                .h3;
            }
        }
        .newManage_buts{
            .list-inline;
            li{
                padding:0;
            }
            a{
                .btn;
                .btn-primary;
            }
        }
        .folderName{
            width:100%;
        }
        .buttonsUl{
            text-align: left !important;
        }
        #foldersDiv{
          padding:0;
            margin: 0px;
        }

}


.EXLMyAccountContainer{
    table{
        td{
            vertical-align: top;
        }
        #itemsDiv{
            .hide;
        }
    }

}


/*  myAccountMenu.do
***************************************************************/
/* loans (Hjemlån) */
.loans{
    .EXLMyAccountMainMenuTile{
        .hide;
    }
    #LoansTable{
        .EXLMyAccountTableDueHour, .MyAccount_Loans_5,
        .EXLMyAccountTableFine, .MyAccount_Loans_6,
        .EXLMyAccountTableSub, .MyAccount_Loans_7{
            .hide;
        }
    }
    .EXLCaptionSystemFeedback{
        .alert;
        .alert-success;
    }
    @media (max-width: @screen-sm-min) {
        #LoansTable{
            .EXLMyAccountTableAuthor, .MyAccount_Loans_3{
                .hide;
            }
        }
    }
}

/* myAccountLoan (Hjemlån detailjer) */
.myAccountLoan{
    .EXLMyAccountMainMenuTile{
        .hide;
    }
    .EXLMyAccountTableDetails{
        .table;
        .table-striped;
    }
    .EXLMyAccountMainTableLinks{
        margin:10px 0;
        a{
            .btn;
            .btn-default;
        }
    }

}
/* requests (Bestillinger) */
.requests{
    .EXLMyAccountMainMenuTile{
        .hide;
    }
    .EXLMyAccountTable{
        .EXLMyAccountTableType, .MyAccount_Requests_1,
        .Location, .MyAccount_Requests_6{
            .hide;
        }

    }
    @media (max-width: @screen-sm-min) {
        .EXLMyAccountTable{
            .EXLMyAccountTableType, .MyAccount_Requests_1,
            .EXLMyAccountTableAuthor, .MyAccount_Requests_3,
            .EXLMyAccountTableDueHour, .MyAccount_Requests_4,
            .EXLMyAccountTableActions, .MyAccount_Requests_7{
                .hide;
            }
        }
    }
}

/* requests (Bestillinger detailjer) */
.myAccountRequest{
    .EXLMyAccountMainMenuTile{
        .hide;
    }
    .EXLMyAccountTableDetails{
        .table;
        .table-striped;
    }
    .EXLMyAccountMainTableLinks{
        margin:10px 0;
        a{
            .btn;
            .btn-default;
        }
    }

}


/* personalSettings (personlige indstillinger) */
.personalSettings{

 /*LIGHTBOX*/
    #exliWhiteContent {
        #EXLPersonalRankingLightBox{
          #exlidFacetsLightboxContainer;
        }
        select{
            .form-control;
            margin-bottom: 8px;
        }
        .EXLLightboxHeaderTitle{
            .h4;
            .pull-left;
            width:90%;
         }
        ul{
           .list-unstyled;
        }
        #exliGreyOverlay{
            display:none;
        }
        .EXLLightboxHeaderClose{
            .pull-right;
        }
        .EXLLightboxHeader{
            .EXLFacetsLightboxHeader;
        }
        .EXLLightboxFormContainer{
            #exlidFacetsLightboxListWrapper;
        }
        .EXLLighboxSubmitButton{
            .pull-right;
        }
        .EXLLighboxCancelButton{
            .pull-right;
            input{
                .btn;
                .btn-default;
            }

        }
    }

    .EXLMyAccountMainMenuTile{
        .hide;
    }
    .EXLMyAccountEditLink a, .EXLEditPersonalizedRankingProfile, input.submit  {
        .btn;
        .btn-primary;
    }

    .EXLMyAccountForm{
        .table;
        tr, th, td{
            border:none !important;
        }
    }
    th{
        vertical-align: middle !important;
    }
    .EXLMyPersonalSettings{
        tr, th, td{
            padding:0px !important;
        }
    }
    .EXLMyAccountTips{
        legend{
            .hide;
        }
        td{
            text-align: right;
            .submit{
                display: inline-block;
            }
        }
        select{
            .form-control;
        }
    }
    .EXLMyAccountRanking{
       strong{
           display:block;
           .alert;
           .alert-info;
       }
        th, td{
            word-wrap:break-word;
            white-space: normal;
        }
    }

}
/* query / sessionQuery (Gemte søgninger & søgeagenter) */
.query{
    .EXLMyAccountTable{
        .EXLMyAccountTableAlertType, td:nth-child(3){
            .hide;
        }
    }
    @media (max-width: @screen-sm-min) {
        .EXLMyAccountTable{
            .EXLMyAccountTableRSS, .EXLMyAccountTableRSSLink{
                .hide;
            }
        }
    }
}

/* global style */
.query, .sessionQuery {
    .EXLMyAccountMainMenuContainer{
        ol{
            .nav;
            .nav-tabs;
            border-bottom:none;
            li{
                a{
                    margin-right: 2px;
                    line-height: 1.42857143;
                    border: 1px solid transparent;
                    border-radius: 4px 4px 0 0;
                    position: relative;
                    display: block;
                    padding: 10px 15px;
                    color: #428bca;
                    text-decoration: none;
                    background: 0 0;
                }
                a:hover{
                    border-color: #eee #eee #ddd;
                    text-decoration: none;
                    background-color: #eee;
                }

                .EXLMyAccountMainMenuBullet, .EXLMyAccountMainMenuCounter{
                    .hide;
                }
            }
        }
    }
}
.query .EXLMyAccountMainMenuContainer{
    #savedFolder .EXLMyAccountMainMenuTitle{
        color: #555;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
        margin-right: 2px;
        line-height: 1.42857143;
        border-radius: 4px 4px 0 0;
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}
.sessionQuery .EXLMyAccountMainMenuContainer{
    #sessionFolder .EXLMyAccountMainMenuTitle{
        color: #555;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
        margin-right: 2px;
        line-height: 1.42857143;
        border-radius: 4px 4px 0 0;
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}

/* fees (Gebyrer) */
.fees{
    .EXLMyAccountMainMenuTile{
        .hide;
    }
    .EXLMyAccountTable{
        .EXLMyAccountTableDueHour, .MyAccount_FineAndFees_4,
        .EXLMyAccountTableFine.headerSortOptions, .MyAccount_FineAndFees_6,
        .EXLMyAccountFinesBalanceRow.EXLMyAccountFinesBalanceLink{
            .hide;
        }
        tfoot{
            font-weight: bold;
        }
    }
    @media (max-width: @screen-sm-min) {
        .EXLMyAccountTable{
            .EXLMyAccountTableAuthor, .MyAccount_FineAndFees_2{
                .hide;
            }
        }
    }
  #KBPayFrame{
    border:none;
}
}






