@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

@import "../bootstrap/modals.less";


header .navbar-toggle,
header a.visible-xs,
footer hr, footer .col-xs-2.col-sm-1{
    display:none;
}
footer strong{
    display:block;
}

footer ul, footer li{
    float:none!important;
    border:none!important;
}
footer .col-sm-4{
    float:left;
    width:33%;
}
footer{
    padding-top:20px;
}

footer:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

footer {
    display: inline-block;
}

html[xmlns] footer {
    display: block;
}

* html footer {
    height: 1%;
}