//KB
//Changes to tiles/resultsTile.jsp


.EXLResult .EXLThumbnail {
@media (max-width: @screen-sm-max ) {
    .collapse;
    }

@media (min-width: @screen-sm-max) {
    display:block;
    }
}

.EXLMyShelfStar a{
    .btn;
    .btn-default;
}

EXLResult .EXLThumbnail {
@media (max-width: @screen-sm-max ) {
    .collapse;
    }
 }


html[lang="da_DK"] .EXLMyShelfStar a:after {
@media (min-width: @screen-sm-max ){
    content:" Tilføj til e-hylde";
    }
}
html[lang="en_US"] .EXLMyShelfStar a:after{
    @media (min-width: @screen-sm-max ){
    content:" Add to e-shelf";
    }
}

.EXLThumbnail .label{
    display: block;
    .text-left;
}
.EXLResult{
    padding:10px 0;
    border-bottom: 1px dotted @gray-lighter;
    .clearfix;
}

.EXLResultStatusNotAvailable{
    .label;
    .label-danger;
}
li.EXLResultSelectedTab > a{
    color: @nav-pills-active-link-hover-color;
    background-color: @nav-pills-active-link-hover-bg;
}

/*  Classic thumbnails */


.EXLResultMediaTYPEarticle .multipleCoverImageContainer{background-image: url(/primo_library/libweb/images/icon_article.png);}
.EXLResultMediaTYPEaudio .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_audio.png);}
.EXLResultMediaTYPEbook .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_book.png);}
.EXLResultMediaTYPEdatabase .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_database.png);}
.EXLResultMediaTYPEimage .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_image.png);}
.EXLResultMediaTYPEjournal .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_journal.png);}
.EXLResultMediaTYPEmap .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_map.png);}
.EXLResultMediaTYPEother .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_other.png);}
.EXLResultMediaTYPEreference_entry .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_other.png);}
.EXLResultMediaTYPEtext_resource .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_article.png);}
.EXLResultMediaTYPEmanuscript .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_text_resource.png);}
.EXLResultMediaTYPEvideo .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_video.png);}
.EXLResultMediaTYPEcomputer .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_game.png);}
.EXLResultMediaTYPEvwebsite .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_website.png);}
.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_newspaper.png);}
.EXLResultMediaTYPEreview .multipleCoverImageContainer {background-image: url(/primo_library/libweb/images/icon_article.png);}
.coverImageDiv {}
.popThumbnailToTop {

}

.coverImageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
}
.multipleCoverImageContainer {
    position: relative;
    margin: auto;
    width: 38px;
    height: 56px;
    font-size: 0px;
    background-image: url(../images/icon_book.png);
    background-repeat: none;
    border: 1px solid #bdbcbd;
}
.EXLResultsList .EXLThumbnail img {
    padding: 0em;
    margin: 0px;
    border: none;
    vertical-align: bottom;
    width: 38px;
    height: 56px;


}


/* Håndtering af thumbnails på liste visning

.multipleCoverImageContainer  {
    position: relative;
}
.multipleCoverImageContainer .coverImageDiv  {
    position:absolute;
    top:0px;
    width:100%;
}
.multipleCoverImageContainer .coverImageDiv img {
    .img-thumbnail;
    width:100%;
}
.multipleCoverImageContainer .EXLBriefResultsDisplayCoverImageBackup {
    a{
        .img-thumbnail;
        background: transparent none no-repeat 50% 50%;
        height: 100px;
        width:100%;
        display:block;
    }
}
.multipleCoverImageContainer .coverImageDiv a img[src*="pixel"]{
    .collapse;
}  */



/* AJAX  Visning af poster (bestil)*/
/*#holdings{
    .row;
}
#holdings label{
    .col-md-2;
}
#holdings select{
    .form-control;
    .col-md-2;

}
#holdings input[type="submit"]{
    .btn;
    .btn-primary;
}*/

.EXLLocationTitlesRow div, div.locationColumnTitle{
    font-weight:            @badge-font-weight;

}
.locationDiv:nth-child(even){
    background: @gray-lighter;
 }
.locationDiv{
   padding:@padding-base-horizontal @padding-base-vertical;
}
.locationButtons a, .EXLLocationViewAllLink a{
    .btn;
    .btn-default;
}
